[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/AmrHRAbdeen
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AmrHRAbdeen
	label-Verified = -1..+1 group user/AmrHRAbdeen
	push = group user/AmrHRAbdeen
	read = group user/AmrHRAbdeen
	rebase = group user/AmrHRAbdeen
	removeReviewer = group user/AmrHRAbdeen
	submit = group user/AmrHRAbdeen
[access "refs/heads/*"]
	create = group user/AmrHRAbdeen
	push = +force group user/AmrHRAbdeen
	pushMerge = group user/AmrHRAbdeen
	read = group user/AmrHRAbdeen
[access "refs/tags/*"]
	push = group user/AmrHRAbdeen
	push = +force group user/AmrHRAbdeen
